body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to left,
        black 50%,
        red 50%
    );
}
 /* .carousel-container-1 {
    display:flex;
}  */
#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    max-height: 4rem;
}
.carousel {
    align-items: center;
    justify-content: center;
    display: block;
    margin:10px; 
    max-width: auto;
    min-width: auto;
    background-color: black;
    border-color: white;
    border:5px white;
    border-style:outset;
}
#searchMovieBTN {
    top: -9px;
}
/* 
header nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
 */
