body{

    background: linear-gradient(
        to left,
        black 50%,
        red 50%
    );
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    max-height: 4rem;
}

/* 
header nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
 */
