body{
    /* display: flex; */
    flex-direction: column;
    /* background: linear-gradient(
        to left,
        black 50%,
        red 50% */
    /* ); */
    background-color: #1f1d1d;
}

/* .carousel-container-1 {
    display:flex;
}  */

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    background-color: #242322;
    display: none;
}

#searchMovieBTN {
    top:-9px;
}

#movieInfo {
    display: none;
    margin-bottom: 30px;
    background-color: rgba(54, 6, 8, .9);
}

#movieInfo img {
    margin: 40px 20px 40px 40px;
}

#movieInfo section {
    margin: 40px 20px;
    width: 60%;
    padding: 10px;
    color:white;
}

#movieInfo section h2 {
    margin: 0 0 1.42rem 0;
}

#logo {
    max-height: 4rem;
}
.carousel {
    align-items: center;
    justify-content: center;
    display: block;
    margin:10px; 
    max-width: auto;
    min-width: auto;
    background-color: black;
    border-color: white;
    border:5px white;
    border-style:outset;
}
#searchMovieBTN {
    top: -9px;
}

/* header nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
 */
